.header{
	background: #E0FFFF;
	margin: 20px auto;
	border: 5px solid #6495ED;
}
.h1{
	font-size: 24px;
	color: 	#6A5ACD;
}
.link{
	color: #0000FF;
}
.link:hover {
	color: #DC143C;
	text-decoration: none;
}
.txt{
	color: #000000;
	text-decoration: underline;
}
.feedback{
	margin: 20px auto;
	border: 4px solid #6495ED;
}
.h2{
	font-size: 80px;
}
.container{
	width: 960px;
	color: #0000FF;
	font-size: 16px;
	padding: 50px;
}
.form_input{
	display: block;
	margin: auto;
	width: 400px;
	background: Linen;
	border: 1px solid;
	font-size:14px;
	padding: 10px;
}
.feedback{
	padding-bottom: 40px;
	background: #FFFAFA;
}
.form{
	text-align: center;
}
.form_button{
	width: 400px;
	background: SkyBlue;
	font-size:14px;
	border: 0;
	padding: 10px;
	color: white;
}
.window{
	width: 500px;
	background: Lavender;
	font-size:15px;
	margin: 12px;
	border: 1px solid;
	border-radius: 25px;
	padding: 50px;
	color: white;
}
.option{
	background: Black;
	color: white;
}
.sel{
	background: LightSteelBlue;
	margin: auto;
}